<div class="container">
  <div id="add-product-form" style="display: none;">
    <h2>Add Product</h2>
    <form id="newProductForm">
    <div class="mb-3">
      <label for="title" class="form-label">Title:</label>
      <input type="text" class="form-control" id="title" name="title" required>
    </div>
    
    <div class="mb-3">
      <label for="description" class="form-label">Description:</label>
      <textarea class="form-control" id="description" name="description" rows="3"></textarea>
    </div>
    
    <div class="mb-3">
      <label for="code" class="form-label">Code:</label>
      <input type="text" class="form-control" id="code" name="code" required>
    </div>
    
    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="number" class="form-control" id="price" name="price" step="0.01" required min="0" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" >
    </div>
    
    <div class="mb-3">
      <label for="stock" class="form-label">Stock:</label>
      <input type="number" class="form-control" id="stock" name="stock" required min="0" onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" >
    </div>
    
    <div class="mb-3">
      <label for="category" class="form-label">Category:</label>
      <select class="form-select" id="category" name="category" required>
        <option value="" disabled selected hidden style="color: #aab7c4;">Select Category</option>
        <option value="Household Essentials">Household Essentials</option>
        <option value="Wines and Beverages">Wines and Beverages</option>
        <option value="Dairy and Deli">Dairy and Deli</option>
        <option value="Meat and Seafood">Meat and Seafood</option>
        <option value="Fresh Produce">Fresh Produce</option>
      </select>
    </div>

    
    <button id="product-added" type="submit" class="btn btn-primary" onclick="addProductToTable(event)">Add Product</button>
    </form>
  </div>

  <h1 class="h1">Products</h1> 
  <table class="table table-striped" id="real-time-products-table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Code</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Category</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      {{#each products}}
        <tr>
          <td>{{title}}</td>
          <td>{{description}}</td>
          <td>{{code}}</td>
          <td>{{price}}</td>
          <td>{{#if stock}}{{stock}}{{else}}Out of stock{{/if}}</td> 
          <td>{{category}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Product Actions">
              <button class="btn btn-outline-danger" id="delete-product-button" data-product-id="delete-{{id}}" type="button" data-bs-toggle="tooltip" onclick="deleteProduct({{this.id}})" data-bs-placement="top" title="Delete" style="margin-right: 12%">
                <i class="fas fa-trash"></i>
              </button>
              <button class="btn btn-outline-primary" id="add-product-button" data-product-id="add-{{id}}" type="button" data-bs-toggle="tooltip" onclick="addProduct()" data-bs-placement="top" title="Add">
                <i class="fas fa-plus"></i>
              </button>
            </td>
          </div>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="index.js"></script>
